<!DOCTYPE html>
<html>
<head>
    <title>Job Satisfaction Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/questions.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="big-header">Job Satisfaction Quiz</h2>
        </div>
        <div class="row">
            <form method="get" action="/predict" onsubmit="return getPrediction()">
                <fieldset id="salary">
                    <h5>How much money do you make per year?</h5>
                    <input type="number" name="salary" min="0">
                </fieldset>
                <fieldset id="hours_per_week">
                    <h5>During a typical week, approximately how many hours do you spend on activities related to finding new job opportunities?</h5>
                    <input type="number" name="hours_per_week" min="0">
                </fieldset>
                <fieldset id="interview">
                    <h5>If you applied at Google, what percent chance would you have of getting an interview?</h5>
                    <input type="number" name="interview" min="0" max="100">
                </fieldset>
                <fieldset id="overpaid">
                    <h5>On a scale of 1-5, how much to you agree with the statement: "I think I am overpaid"?</h5>
                    <input type="number" name="overpaid" min="0" max="5">
                </fieldset>
                <fieldset id="like_boss">
                    <h5>On a scale of 1-5, how much do you agree with the statement: "I like my boss"?</h5>
                    <input type="number" name="like_boss" min="0" max="5">
                </fieldset>
                <fieldset id="job_technologies">
                    <h5>On a scale of 1-5, how much do you agree with the statement: "I love the technlologies I use at work"?</h5>
                    <input type="number" name="job_technologies" min="0" max="5">
                </fieldset>
                <fieldset id="choose_equip">
                    <h5>On a scale of 1-5, how much do you agree with the statement: "I can choose the equipment I use at work"?</h5>
                    <input type="number" name="choose_equip" min="0" max="5">
                </fieldset>
                <fieldset id="like_developer">
                    <h5>On a scale of 1 to 10, how much do you like being a developer?</h5>
                    <input type="number" name="like_developer" min="0" max="10">
                </fieldset>
                <fieldset id="remote">
                    <h5>Are you allowed to work remotely at all?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="remote">
                </fieldset>
                <fieldset id="curr_job_less_than_year">
                    <h5>Have you been at your current job for less than a year?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="curr_job_less_than_year">
                </fieldset>
                <input class="btn" type="submit" value="submit"/>
            </form>
        </div>
    </div>
    <p id="output"></p>
    <script>
        Array.from(document.getElementsByClassName('yn')).forEach(ynText => {
            var form = ynText.parentElement.parentElement.children;
            var hiddenform = form[form.length - 1];

            ynText.addEventListener('click', () => {
                var currVal = 'yes' === ynText.attributes.data.value ? 1 : 0;
                hiddenform.value = currVal;
                ynText.classList.add('selected');
                ynText.parentElement.children[currVal].classList.remove('selected');
            });
        });

        function urlencodeFormData(fd){
            var s = '';
            function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
            for(var pair of fd.entries()){
                if(typeof pair[1]=='string'){
                    s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
                }
            }
            return s;
        }

        function getPrediction() {
            var oReq = new XMLHttpRequest();
            var str = urlencodeFormData(new FormData(document.forms[0]));
            oReq.open("GET", document.forms[0].action + '?' + str, true);
            oReq.setRequestHeader('Content-Type','application/x-www-form-urlencoded');

            oReq.onload = function(oEvent) {
                if (oReq.status == 200) {
                    var result = JSON.parse(oReq.responseText);
                    if(result.job_satisfaction) {
                        window.job_satisfaction = 'Job Satisfaction: ' + result.job_satisfaction + '/10';
                    } else {
                        window.job_satisfaction = result.error;
                    }
                } else {
                    window.job_satisfaction = "Error " + oReq.status + " occurred when trying to upload your file.<br \/>";
                }

                document.getElementById('output').innerText = window.job_satisfaction;
            };

            oReq.send();
            return false;
        }
    </script>
</body>
</html>
