<!DOCTYPE html>
<html>
<head>
	<title>Job Satisfaction Predictor</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skeleton.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/questions.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/questions.js')}}"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
            <h2 class="big-header">Job Satisfaction Quiz</h2>
        </div>
        <div class="row">
        	<form method="get" action="/predict">
                <fieldset id="salary">
                	<h5>How much money do you make per year?</h5>
                	<input type="number" name="salary">
                </fieldset>
                <fieldset id="choose_equip">
                	<h5>Do you get to choose your equipment?</h5>
                	<div style="margin-top: -20px;">
                		<a class="yn" data="yes">Yes</a>
                		<a class="yn" data="no">No</a>
                	</div>
                	<input type="hidden" value="1" name="choose_equip">
                </fieldset>
                <fieldset id="remote">
                	<h5>Are you allowed to work remotely at all?</h5>
                	<div style="margin-top: -20px;">
                		<a class="yn" data="yes">Yes</a>
                		<a class="yn" data="no">No</a>
                	</div>
                	<input type="hidden" value="1" name="remote">
                </fieldset>
                <fieldset id="curr_job_less_than_year">
                    <h5>Have you been at your current job for less than a year?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="curr_job_less_than_year">
                </fieldset>
                <fieldset id="like_boss">
                    <h5>Do you like your boss?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="like_boss">
                </fieldset>
                <fieldset id="job_technologies">
                    <h5>Do you like the technologies you use at work?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="job_technologies">
                </fieldset>
                <fieldset id="look_postings_frequent">
                    <h5>Do you look at job postings frequently?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="look_postings_frequent">
                </fieldset>
                <fieldset id="interview">
                    <h5>If you applied at Google, what percent chance would you have of getting an interview?</h5>
                    <input type="number" name="salary" min="0" max="100">
                </fieldset>
                <fieldset id="like_developer">
                    <h5>Do you like being a developer?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="like_developer">
                </fieldset>
                <fieldset id="overpaid">
                    <h5>Do you think that you are overpaid?</h5>
                    <div style="margin-top: -20px;">
                        <a class="yn" data="yes">Yes</a>
                        <a class="yn" data="no">No</a>
                    </div>
                    <input type="hidden" value="1" name="overpaid">
                </fieldset>
                <input class="btn" type="submit" value="submit"/>
        	</form>
        </div>
	</div>
</body>
</html>
