<!DOCTYPE html>
<html>
<head>
	<title>Job Satisfaction Predictor</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skeleton.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/questions.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:600" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
            <h2 class="big-header">Job Satisfaction Quiz</h2>
        </div>
        <div class="row">
        	<form>
        		<h5>What is my name?</h5>
        		<label class="btn-container">One
                  <input type="radio" checked="checked" name="radio">
                  <span class="radio"></span>
                </label>
                <label class="btn-container">Two
                  <input type="radio" name="radio">
                  <span class="radio"></span>
                </label>
                <label class="btn-container">Three
                  <input type="radio" name="radio">
                  <span class="radio"></span>
                </label>
                <label class="btn-container">Four
                  <input type="radio" name="radio">
                  <span class="radio"></span>
                </label>
        	</form>
        </div>
	</div>
</body>
</html>